## Importação das bibliotecas

In [1]:
import pyjaguar as pj
import numpy as np

## DataFrame a partir de um dicionário

In [2]:
nome = np.array(['João', 'Maria', 'Pedro', 'Ana', 'José'])
idade = np.array([30, 25, 35, 28, 40])
genero = np.array(['M', 'F', 'M', 'F', 'M'])
altura = np.array([1.75, 1.65, 1.80, 1.70, 1.68])
peso = np.array([70.5, 60.8, 90.3, 70.9, 80.2])
cidade = np.array(['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Brasília', 'Salvador'])

dados = {'nome': nome, 'idade': idade, 'genero': genero, 'altura': altura, 'peso': peso, 'cidade': cidade}

df = pj.DataFrame(dados)
df

## Acessar os nomes das colunas

In [3]:
df.colunas

['nome', 'idade', 'genero', 'altura', 'peso', 'cidade']

## Modificando os nomes das colunas

In [5]:
df.colunas = ["Nome", "Idade", "Gênero", "Altura", "Peso", "Cidade Natal"]
df