## Importação das bibliotecas

In [17]:
import pyjaguar as pj
import numpy as np

## DataFrame a partir de um dicionário

In [18]:
nome = np.array(['João', 'Maria', 'Pedro', 'Ana', 'José'])
idade = np.array([30, 25, 35, 28, 40])
genero = np.array(['M', 'F', 'M', 'F', 'M'])
estuda = np.array([True, False, False, True, True])
altura = np.array([1.75, 1.65, 1.80, 1.70, 1.68])
peso = np.array([70.67, None, 90.77, 70.12, None])

dados = {'nome': nome, 'idade': idade, 'genero': genero, 
         'estuda': estuda, 'altura': altura, 'peso': peso}

df = pj.DataFrame(dados)
df

## Acessar os nomes das colunas

In [19]:
df.colunas

['nome', 'idade', 'genero', 'estuda', 'altura', 'peso']

## Modificando os nomes das colunas

In [20]:
df.colunas = ["Nome", "Idade", "Sexo", "Estuda", "Altura", "Peso"]
df

## Número de linhas e colunas do DataFrame

In [21]:
df.dimensao

(5, 6)

## DataFrame para NumPy array

In [22]:
df.para_numpy

array([['João', 30, 'M', True, 1.75, 70.67],
       ['Maria', 25, 'F', False, 1.65, None],
       ['Pedro', 35, 'M', False, 1.8, 90.77],
       ['Ana', 28, 'F', True, 1.7, 70.12],
       ['José', 40, 'M', True, 1.68, None]], dtype=object)

## Tipo de dados no DataFrame

In [23]:
df.tipos_dados

## Selecionando colunas

In [24]:
# Selecionando uma coluna
df["Altura"]

In [25]:
# Selecionando múltiplas colunsa
df[["Nome", "Idade", "Peso"]]

In [12]:
# Filtra linhas com base em um DataFrame booleano
df[df["Estuda"]]

In [16]:
dados = {"A": np.array([1, 2, 3, 4]), "B": np.array(["a", "b", "c", "d"]), 
         "C": np.array([True, False, True, False])}
df = pj.DataFrame(dados)
df[df["C"]]